package components

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<script src="/static/scripts/htmx.min.js"></script>
			<title>Go and Tailwind CSS</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
